---
openapi: 3.0.1
info:
  title: API V1
  version: v1

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

paths:
  /api/signup:
    post:
      summary: Creates a user.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    full_name:
                      type: string
                    email:
                      type: string
                    mobile_number:
                      type: number
                    password:
                      type: string
                    password_confirmation:
                      type: string
      responses: 
        '201':
          description: Created
  /api/verify_email:
    post:
      summary: Verify user's email using OTP
      description: Checks if the provided email OTP matches and marks email as verified.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - otp
              properties:
                email:
                  type: string
                  example: "user@example.com"
                otp:
                  type: string
                  example: "123456"
      responses: 
        '201':
          description: Created

  /api/verify_mobile:
    post:
      summary: Verify user's mobile number using OTP
      description: Checks if the mobile OTP matches and marks mobile as verified.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mobile_number
                - otp
              properties:
                mobile_number:
                  type: string
                  example: "9876543210"
                otp:
                  type: string
                  example: "123456"
      responses: 
        '201':
          description: Created
  /api/login:
    post:
      summary: login a user.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    email:
                      type: string
                    password:
                      type: string
      responses: 
        '201':
          description: Created
  /api/login_with_email:
    post:
      summary: Login with user email
      description: enter email and verify OTP using verify email_otp API.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  example: "user@example.com"
      responses: 
        '201':
          description: Created

  /api/login_with_mobile:
    post:
      summary: Login with user mobile number
      description: enter mobile number and verify OTP using verify mobile_verify API.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mobile_number
              properties:
                mobile_number:
                  type: string
                  example: "9876543210"
      responses: 
        '201':
          description: Created

  /api/forgot_password:
    post:
      summary: user forgets password.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    email:
                      type: string
      responses: 
        '201':
          description: Created
  /api/reset_password:
    post:
      summary: user reset password.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    reset_password_token:
                      type: string
                    password:
                      type: string
                    password_confirmation:
                      type: string
      responses: 
        '201':
          description: Created 

  /api/logout:
    delete:
      summary: Logout from account.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                
      responses: 
        '201':
          description: Created

servers:
- url: http://{defaultHost}
  variables:
    defaultHost:
      default: localhost:3000
- url: https://rails-api-3rfk.onrender.com/
  variables:
    defaultHost:
      default: standardzzz.onrender.com/