/* line 5, ../../.rvm/gems/ruby-3.1.5/gems/administrate-field-nested_has_many-1.3.0/app/assets/stylesheets/administrate-field-nested_has_many/base.scss */
.field-unit--nested-has-many .nested-fields {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}

/* line 2, ../../.rvm/gems/ruby-3.1.5/gems/administrate-0.18.0/app/assets/stylesheets/administrate/library/_clearfix.scss */
.field-unit--nested-has-many .nested-fields::after {
  clear: both;
  content: "";
  display: block;
}

/* line 11, ../../.rvm/gems/ruby-3.1.5/gems/administrate-field-nested_has_many-1.3.0/app/assets/stylesheets/administrate-field-nested_has_many/base.scss */
.field-unit--nested-has-many .remove_fields, .field-unit--nested-has-many .add_fields {
  float: right;
}
/*

 */
